.tooltip {
  z-index: 10000;
  display: none;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  max-width: 200px;
  box-shadow: 0 0 8px #ccc;
  border-radius: 3px;
  background: white;
  color: black;
  opacity: 0;
  transition: opacity .2s linear;

  &--align {
    &_left {
      &::after {
        left: 20px;
        right: auto;
      }
    }

    &_center {
      &::after {
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%) rotateZ(-45deg);
      }
    }

    &_right {
      &::after {
        left: auto;
        right: 20px;
      }
    }
  }

  &--visible {
    opacity: 1;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -2px 2px 2px 0 rgba(#ccc, 0.3);
  }
}